{
    "printWidth": 80,
    "useTabs": false,
    "trailingComma": "es5",
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "jsxSingleQuote": false,
    "bracketSameLine": false,
    "endOfLine": "lf"
}
